*{
    margin:0;
    padding:0;
    text-align: center;
   
}
 .tbbox{
    display: flex;
    justify-content: center;
} 
table{
    border:solid 2px red;
}
th{
    
    border:solid 2px red;
}
td{
    border:solid 2px red;
}
